/* ======================================================
    Footer
====================================================== */

footer {
  background: var(--bg-color-second);
  color: var(--text-color-second);
  font-size: 1rem;
  text-align: center;
  padding: 35px 0 35px 0;
}

footer h3 {
  font-size: 1.75rem;
  font-weight: 700;
  position: relative;
  font-family: var(--font-footer);
  padding: 0;
  margin: 0 0 5px 0;
}

footer p {
  font-size: 0.7rem;
  font-style: italic;
  padding: 0;
  margin: 0 0 15px 0;
}
