@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Shade&family=Kumar+One+Outline&family=Libre+Barcode+39+Extended+Text&family=Press+Start+2P&family=Roboto&family=Rock+Salt&family=Train+One&family=Zen+Tokyo+Zoo&display=swap');


:root {
  --bg-color-main: #f5f5f5;
  --bg-color-about: #fff;
  
  --text-color-main: #5f5f5f;

  --link-color-main: #1f1f1f;
  --link-hover-color: #0078ff;

  --border-color-main: #1f1f1f;
  --border-color-contact: #f0f7fa;

  --btn-color-main: #7fbafd;
  --btn-color-contact: #67b0d1;

  --btn-bg-color: #dbd8d8;
  --btn-hover-color: #90e2b6;

  --card-bg-color: #000;
  --card-text-color: #f5f5f5;
  --card-btn-color: #7fbafd;
  --card-hover-color: #0078ff;

  --hero-text-title-color: #7fbafd;

  --font-main: 'Roboto', sans-serif;
  --font-hero-name: 'Bungee Shade', cursive;

  /*
  font-family: 'Black Ops One', cursive;
  font-family: 'Kumar One Outline', cursive;
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Rock Salt', cursive;
  font-family: 'Train One', cursive;
  font-family: 'Zen Tokyo Zoo', cursive;
  */
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
}

html {
  font-size: 18px;
}

body { 
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
}

.anchor {
  display: block;
  height: 90px; 
  margin-top: -90px; 
  visibility: hidden;
}


/* ======================================================
    Navbar
====================================================== */ 
nav {
  background-color: var(--bg-color-main);
  opacity: 0.8;
}

nav a {
  color: var(--link-color-main);
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: var(--link-hover-color);
  display: inline-block;
  position: relative;
}

nav a:after {
  content: " ";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--link-hover-color);
  transform-origin: bottom right;
}

nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: all 0.3s ease-in-out;
}

nav i {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .navbar-collapse > ul {
    display: flex;
    align-items: flex-end;
    margin-right: 12px;
  }

  nav > div > ul > li {
    font-size: 0.9rem;
  }

  .navbar-toggler {
    font-size: 0.9rem;
  }

  
}

@media (max-width: 575px) {
  nav > div > ul > li {
    font-size: 0.7rem;
  }

  .navbar-toggler {
    font-size: 0.7rem;
  }
}


/* ======================================================
    Hero 
====================================================== */ 
.hero-home {
  background: var(--bg-color-main);
}

/* Above section */
.hero-content-row {
  height: 100vh;  
  width: 100%;
  overflow-x: hidden;
}

/* Above left section */
.hero-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 1rem;
}

.hero-img {
  height: 25rem;
  border: 1px solid var(--border-color-main);
  border-radius: 300px;
}

/* Above right section */
.hero-details-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-direction: column;
  text-align: center;
}

.hero-name {
  font-family: var(--font-hero-name);
  color: var(--hero-text-title-color);
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
}

.hero-job-typed {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

/*
.hero-job-title {
  color: var(--hero-text-title-color);
  text-decoration: underline;
}
*/

.hero-cv-button {
  font-size: 1.5rem;
  width: 25%;
  border-radius: 18px; 
}

/* Below section */
.hero-scroll-down-col {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@keyframes up-down {
  0% { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

.hero-scroll-down-button {
  font-size: 2rem;  
  color: var(--text-color-main);
  animation: up-down 0.5s ease-in-out infinite alternate-reverse both;
}

.hero-scroll-down-button:hover {
  color: var(--link-hover-color);
}


/* ======================================================
    Hero Mobile
====================================================== */ 
@media (max-width: 1399px) {
  .hero-img {
    height: 22rem;
  }
  
  .hero-name {
    font-size: 5.5rem;
  } 

  .hero-job-typed {
    font-size: 1.8rem;
  }

  .hero-cv-button {
    font-size: 1.4rem;
    width: fit-content;
  }  
}

@media (max-width: 1199px) {
  .hero-img {
    height: 18rem;
  }

  .hero-name {
    font-size: 4.5rem;
  }

  .hero-job-typed {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .hero-img-col,
  .hero-details-col,
  .hero-scroll-down-col {
    margin-left: 1rem;
  }

  .hero-scroll-down-col {
    margin-top: 5rem;
  }

  .hero-img-col {
    height: 45vh;
    margin-top: 40px;
  } 

  .hero-name {
    font-size: 3.5rem;
  }
  
  .hero-job-typed {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .hero-name {
    font-size: 3rem;
  }

  .hero-job-typed {
    font-size: 1.2rem;
  }
}

@media (max-width: 575px) {
  .hero-name {
    font-size: 2.5rem;
  }

  .hero-job-typed {
    font-size: 1.1rem;
  }
}


/* ======================================================
    Section Title
====================================================== */ 
.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 1.5rem;
  z-index: 2;
  text-transform: uppercase;
}

.section-title h2::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  font-size: 300rem;
  background: url(./asset/title-bg.png) no-repeat;
  z-index: -1;
}


/* ======================================================
    Portfolio
====================================================== */ 
/* Portfolio Filter */
.portfolio-filter-col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-filter > button {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px 8px 12px;
  margin: 0 8px 10px 8px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-color-main);
  background: var(--btn-bg-color);
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
}

.portfolio-filter > button:hover,
.portfolio-filter > .filter-active {
  background: var(--btn-hover-color);
}

/* Portfolio CARDSSSSSSS */
.portfolio-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* Portfolio CARD */
.project-description {
  text-transform: lowercase;
}

.project-card-img {
  display: flex;
  align-items: stretch;
  height: 45vh;  
}

.project-card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--card-text-color);
  background-color: var(--card-bg-color);
  opacity: 0;
}

.project-card-img-overlay:hover {
  opacity: 0.7;
}

.project-url a {
  color: var(--card-btn-color);
}

.project-url a:hover {
  color: var(--card-hover-color);
}

.project-url i {
  font-size: 1.6rem;
}

/* ======================================================
    About
====================================================== */ 


/* ======================================================
    Contact
====================================================== */
.contact {
  padding-bottom: 80px;
}

.contact .info-box {
  color: var(--text-color-main);
  background: var(--bg-color-about);
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 50px 0 50px 0;
}

.contact .info-box i {
  font-size: 2rem;
  color: var(--btn-color-contact);
  border-radius: 100px;
  padding: 8px;
  border: 2px solid var(--border-color-contact);
}

.contact .info-box h3 {
  font-size: 1.2rem;
  color: var(--text-color-main);
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 0;
}